body{
    color: #fff !important;
}

.seccion-1{
    min-height: 698px !important;
    min-width: 1301px !important;
}

.seccion-1-1{
    width: 100% !important;
    height: 100% !important;
    background-image: url(../img/background_img_one.png) !important;
    background-size: cover;
}

.barra-nav{
    max-width: 1250px !important;
}

.link-logo{
    width: 120px !important;
    height: 30px !important;
    padding-top: 0 !important;
    font-size: 15px !important;
}

.letras-tesla{
    width: 100% !important;
}

.collapse ul li{
    padding-inline: 8px !important;
    font-weight: 600;
}

.title{
    font-size: 2.8em !important;
}