::-webkit-scrollbar {display: none;}

body{
    color: #fff !important;
}

.seccion-1{
    max-height: 660px !important;
    max-width: 1301px !important;
}

.seccion-1-1{
    width: 100% !important;
    height: 100% !important;
    background-image: url(../img/background_img_one.png) !important;
    background-size: cover;
    background-position: center;
}

.barra-nav{
    max-width: 1250px !important;
}

.link-logo{
    width: 120px !important;
    height: 30px !important;
    padding-top: 0 !important;
    font-size: 15px !important;
}

.letras-tesla{
    width: 100% !important;
}

.collapse ul li{
    padding-inline: 8px !important;
    font-weight: 600;
}

.title{
    font-size: 2.8em !important;
    margin-top: 2.5em !important;
}

.texto{
    text-align: center;
    line-height: 17px !important;
}

.button-one{
    border: 1px solid #f5f5f5;
    color: #e2e4e4;
    appearance: none;
    padding: 6px 55px !important;
}

.button-one:hover{
    color: #000 !important;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    transition: border .33s ease,background-color .33s ease,color .33s ease;
}

.seccion-1-1-1{
    margin-top: 22em !important;
}

.seccion-2{
    max-width: 1301px !important;
    max-height: 550px !important;
}

.seccion-2-2{
    width: 100% !important;
    height: 100% !important;
    background-image: url(../img/background_img_two.jpg) !important;
    background-size: cover !important; 
}