.container {
    max-height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

.item {
    color: white;
    background-color: yellowgreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid white;
    font-size: 6vw;
    scroll-snap-align: start;
}

.item:nth-child(odd) {
    background-color: black;
}